{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>This is the QR generator app thing!<h2>
    <h3>Enter a URL<h3>
    <form action="/qrrequest" method="post">
        <select name="prefix">
            <option value="http://">http://</option>
            <option value="https://">https://</option>
            <option value=""> </option>
        </select>
        <input type="text" name="URL" />
        <input type="submit" value="Generate QR Code" />
    </form>
  </div>
{% endblock %}
